.drag-drop-container {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.new-project-name-input {
    margin-left: 10px;
}

.draggable-container-btn {
    z-index: 1;
    position: absolute;
    float: left;
    text-decoration: none;
    color: #28333F;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    border: solid 2px #28333F;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    font-weight: bold;
    transition: 2s;
}

.draggable-container-btn:hover {
    color: white;
    background-image: linear-gradient(+90deg, #2A3642 , #28333F);
}

.project-name-header {
    text-align: center;
}

.normal {
    overflow: hidden;
}