.drag-drop-container {
    display: flex;
    flex: 0 0 100%;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: 10px;
    margin-right: 10px;
}

.new-project-name-outer-container {
    width: 80%;
    text-align: center;
    margin: auto;
    padding: 5px;
    height: 50px;
}
.new-project-name-inner-container {
    width: 100%;
    text-align: center;
    margin: auto;
}

.new-project-name-input {
    margin-left: 10px;
}

.generate-project-btn-container {
    float: center;
    height: 100px;
}

.generate-project-btn {
    width: 300px;
    height: 40px;
}

.new-project-btn-text {
    margin-left: 5px;
}

.project-name-header {
    text-align: center;
}