.register-container {
    max-width: 300px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    background-color: #f7f4f400;
    padding: 10px;
}

.auth-header {
    font-weight: bold;
}

input.form-input {
    width: 80%;
    margin-bottom: 10px;
}

.submit-btn {
    width: 80%;
    margin-top: 10px;
}
.auth-container{
    background-image: url("https://images.pexels.com/photos/1437493/pexels-photo-1437493.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-position: center;
    width: 100%;
    height: calc(100vh - 52px);
    padding-top: 40px;
}