.register-container {
    max-width: 300px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    background-color: transparent;
    padding: 10px;
}

.auth-header {
    font-weight: bold;
}

.form-input {
    margin: auto;
    width: 80%;
    margin-bottom: 10px;
}

.registration-user-icon {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.submit-btn {
    width: 80%;
    margin-top: 10px;
}
.auth-container{
    background-image: url("/assets/register&loginBackground.jpeg");
    background-position: center;
    width: 100%;
    height: calc(100vh - 70px);
    padding-top: 40px;
}