.draggable-element {
    transition: border, background-color, color .8s ease;
    -webkit-transition: border, background-color, color .8s ease;
    width: 50px;
    height: 50px;
    line-height: 50px;
    margin: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    border-radius: 50%;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}

.draggable-element:hover {
    transition: all .8s ease;
    -webkit-transition: all .8s ease;
    background-color: white;
    color: #4A3E9D;
    border: 1px solid #4A3E9D;
}
