.component-list-container {
    display: block;
    float: left;
    border: 1px solid black;
    border-bottom: 0px;
    text-align: center;
    padding: 10px;
    height: 70px;
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: white;
    background-image: linear-gradient(+90deg, #5D3A5F , #4A3E9E);
}

.draggable-container-header {
    width: 200px;
}

.rearange-btn {
    margin: auto;
    display: block;
    width: 200px;
    height: 50px;
}
