.toolbar-container {
    left: 40px;
    top: 50px;
    position: fixed;
    right: 8px;
    background-color: #ffffff;
    border: 1px solid black;
    width: 250px;
    height: 500px;
    text-align: center;
    flex-direction: column;
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
}

.toolbar-container-inactive {
    display: none;
}

.component-type-header {
    font-weight: bold;
}

.toolbar-scrollable {
    height: calc(100% - 160px);
    padding: 10px;
}
.actions-container {
    height: 140px;
    padding: 10px;
}
.actions-button {
    width: 75%;
    height: 40px;
    display: block;
    margin: auto;
}

.action-icon {
    margin-right: 5px;
}

.toolbar-element-container {
    margin-bottom: 30px;
}

.chrome-picker {
    margin: auto;
    width: 200px !important;
}

.component-input-changer-container {
    width: '100%';
}

.component-changer-label {
    display: inline-block;
    width: 100px;
}

.component-changer-input {
    display: inline-block;
    width: 100px;
    text-align: center;
}

.toolbar-toolbar {
    height: 25px;
    background-color: #2A3642;
}

.close-toolbar-button {
    cursor: pointer;
    margin-left: auto;
    margin-right: 5px;
    width: 20px;
}