.toolbar-container {
    display: inline-block;
    border: 1px solid black;
    border-radius: 10px;
    width: 20%;
    height: 500px;
    text-align: center;
    flex-direction: column;
}

.toolbar-scrollable {
    height: calc(100% - 130px);
    padding: 10px;
}
.actions-container {
    height: 1300px;
    padding: 10px;
}
.actions-button {
    width: 75%;
    height: 40px;
    display: block;
}

.action-icon {
    margin-right: 5px;
}

.toolbar-element-container {
    margin-bottom: 30px;
}

.chrome-picker {
    margin: auto;
    width: 200px !important;
}

.component-input-changer-container {
    width: '100%';
}

.component-changer-label {
    display: inline-block;
    width: 100px;
}

.component-changer-input {
    display: inline-block;
    width: 100px;
    text-align: center;
}