.deployment-messages-container {
    margin: auto;
    max-width: 250px;
    height: 200px;
    border: 1px solid black;
    background-color: #aaaaaaaa;
    border-radius: 10px;
    overflow: auto;
    text-align: center;
    padding: 10px;
}

.open-deployment-btn {
    display: block;
    width: 250px;
    margin: auto;
}

.deployment-message {
    border-radius: 10px;
    background-color: #aaaaaaaa;
    padding: 10px;
    max-width: 400px;
    margin: auto;
}