.nav-link-container {
    padding: 15px;
    display: inline-block;
    line-height: 20px;
}

a.main-header {
    color: #e53b52 !important;
}

.navbar-toggle {
    color: #e53b52;
}

.nav-link {
    color: #e53b52 !important;
    font-weight: bold;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    background: #222222;
    border-radius: 5px;
    border: 1px solid #00000000;
}
  
.nav-link:hover {
    text-decoration: none !important;
    border: 1px solid #e53b52;
}
.main-navbar.sticky.navbar.navbar-inverse{
    margin-bottom: 0px;
    border-radius: unset;
}
.navbar-nav {
    margin: unset!important;
}