.project-page-label {
    width: 150px;
}

.project-page-input {
    width: 150px;
}

.image-input {
    margin: auto;
}

.project-page-button {
    width: 300px;
}

.new-project-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.project-image-container {
    margin: auto;
    width: 150px;
    height: 150px;
    margin-top: 20px;
    border-radius: 50%; 
    margin-bottom: 5px;
    cursor: pointer;
    border: 1px solid black;
}

.project-component-project-image {
    display: block;
    margin: auto;
    width: 150px;
    height: 150px;
    border: 1px solid white;
    border-radius: 50%;
}

.project-image-overlay {
    border-radius: 50%;
    position: absolute;
    height: 150px;
    width: 150px;
    margin-top: -150px;
    opacity: 0;
    line-height: 150px;
    text-align: center;
    font-weight: bold;
    font-size: 13px;
    transition: .3s ease;
    background-color: #00000088;
    color: white;
}

.project-image-container:hover .project-image-overlay {
    opacity: 1;
}