.login-container {
    max-width: 300px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    background-color: transparent;
    padding: 10px;
}

.auth-header {
    font-weight: bold;
}

input.form-input {
    width: 80%;
    margin-bottom: 10px;
}

button.submit-btn {
    margin: auto;
    display: block;
    max-width: 200px;
    margin-top: 10px;
}
.auth-container{
    background-image: url("/assets/register&loginBackground.jpeg");
    background-position: center;
    width: 100%;
    height: calc(100vh - 52px);
    padding-top: 40px;
}