#user-navbar {
    height: 50px;
    background: #F7F8FB;
    border-bottom: 1px solid #EEEEEE;
    padding-right: 10%;
    padding-left: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#user-navbar button {
    border: none;
    background: #E7E9EE;
}
#user-navbar button:hover {
    background: #DDDDDD;
}
.navbar-brand.user-image {
    padding: 5px 0 5px 20px;
}
.user-profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.user-profile:hover {
    transition: all .8s ease;
    -webkit-transition: all .8s ease;
    background-color: #2A3642;
}
.user-profile:hover > .username-hover{
    transition: all .8s ease;
    -webkit-transition: all .8s ease;
    color: white; 
}
.vertical-centered {
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: bold;
    color: #28333F;
    margin-left: 10px;
    margin-right: 12%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all .8s ease;
    -webkit-transition: all .8s ease;
}
.vertical-centered svg {
    margin-left: 3%;
}
#addButton {
    margin-right: unset;
}
.unauthorized-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh - 52px);
    color: white;
    background: black;
}