.droped-component {
    margin: auto;
    text-align: center;
}

.edit-component-container {
    margin: auto;
    text-align: center;
}

.edit-input {
    width: 100%;
    text-align: center;
    margin: auto;
}