.droped-component {
    margin: auto;
    text-align: center;
}

.edit-component-container {
    margin: auto;
    text-align: center;
}

.edit-input {
    width: 100%;
    text-align: center;
    margin: auto;
}

@keyframes flash_border {
    0% {
      border-color: red;
    }
    50% {
      border-color: black;
    }
    100% {
      border-color: red;
    }
  }
  
  @-webkit-keyframes flash_border {
    0% {
      border-color: red;
    }
    50% {
      border-color: black;
    }
    100% {
      border-color: red;
    }
  }
  
  @-moz-keyframes flash_border {
    0% {
      border-color: red;
    }
    50% {
      border-color: black;
    }
    100% {
      border-color: red;
    }
  }
  
.blinkdiv {
    border-width: 2px;
    border-style: solid; 
    border-color: red;
    animation-name: flash_border;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    -webkit-animation-name: flash_border;
    -webkit-animation-duration: 2s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-name: flash_border;
    -moz-animation-duration: 2s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
}

.small-buttons-action-container {
  
}