.loading-component {
    text-align: center;
    margin: auto;
    background-image: url("/assets/loadingBackground.jpeg");
    background-position: center;
    width: 100%;
    height: calc(100vh - 52px);
    padding-top: 40px;
}

.loading-container {
    margin: auto;
    max-width: 100px;
    max-height: 100px;
}

.loading-text {
    font-size: 30px;
    font-weight: bold;
    color: white;
}