.paging-container {
    width: 100%;
    text-align: center;
}

.paging-element {
    display: inline-block;
    border-radius: 4px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-left: 2px;
    margin-right: 2px;
    font-weight: bold;
    background-color: white;
    color: #4A3E9D;
    border: 1px solid #4A3E9D;
    cursor: pointer;
}

.paging-element:hover {
    transition: all .8s ease;
    -webkit-transition: all .8s ease;
    background-color: #4A3E9D;
    color: white;
}