.new-project-name-outer-container {
    width: 80%;
    text-align: center;
    margin: auto;
    padding: 5px;
}

.new-project-name-inner-container {
    width: 100%;
    text-align: center;
    margin: auto;
}

.generate-project-btn-container {
    float: center;
    height: 100px;
}

.project-action-btn {
    height: 40px;
}

.new-project-btn-text {
    margin-left: 5px;
}