body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.center-container {
  text-align: center;
}

.vertical-scrollable-container {
  overflow: auto;
}

.btn {
  cursor: pointer !important;
}

.change-element-image {
  display: none !important;
}

* {
  font-family: Georgia, 'Times New Roman', Times, serif !important;
}