.user-project a {
    color: unset;
    text-decoration: none!important;
}
.user-project a:hover {
    color: unset;
}

.user-project a div {
    padding: 5px;
}
.user-project a div:hover {
    background: #F7F8FB;
}
.user-project img {
    height: 50px;
    width: 70px;
}

.MuiCardHeader-title {
    font-size: 16px !important;
    font-weight: bold !important;
}

.MuiCardHeader-subheader {
    font-size: 14px !important;
}

.MuiCardContent-root p {
    font-size: 12px !important;
}