.user-projects-list {
    min-height: 450px;
    width: 100%;
    display: block;
    padding-left: 10%;
    padding-right: 10%;
}

.dashboard-project-image-container {
    margin-top: 10px;
    margin-bottom: 10px;
}

.dashboard-project-image {
    background-color: white;
    width: 100px;
    height: 100px;
    border-radius: 15px;
    display: block;
    margin: auto;
    border: 1px solid #2A3642;
}

.dashboard-project-text {
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
}

.dashboard-project-component {
    transition: all .8s ease;
    -webkit-transition: all .8s ease;
    background-color: white;
    color: #2A3642;
    border: 1px solid #2A3642;
    border-radius: 10px;
    width: 100%;
    height: 200px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
}

.dashboard-project-component:hover {
    transition: all .8s ease;
    -webkit-transition: all .8s ease;
    background-color: #28333F;
    color: white;
    border: 1px solid white;
}